﻿@model RedditPersonalityAnalyzer.Models.User 

@{
        int numberOfCategories;
        if (Model.errorMessage != null)
        {
            <div class="header">@Html.DisplayFor(model => model.errorMessage)</div>
        }
        else
        {
            numberOfCategories = Model.topPersonalityCategoriesAndWords.Count;
            var categories = Model.topPersonalityCategoriesAndWords.Keys.ToList();
            var categoryWords = Model.topPersonalityCategoriesAndWords;
            if (numberOfCategories > 0)
            {
                @:<div class="header">
                    @:<h4> @ViewBag.header1 </h4>
                @:</div>
                int index = 0;
                foreach (var category in categories)
                {
                    if (index == 5)
                    {
                        @:<div class="header">
                            @:<h4> @ViewBag.header2 </h4>
                        @:</div>
                    }
                    @:<div class="container">
                        @:<div class="row">
                            @:<div class="col-lg-4 col-sm-3"></div>
                            @:<div class="col-lg-2 col-sm-3 col-xs-12">
                                <span class="badge badge-pill badge-success">@Html.DisplayFor(modelItem => category)</span>

                            @:</div>
                            @:<div class="col-lg-4 col-sm-4 col-xs-12" id="topWords">
                                @:<span> Top words are: </span>
                                var numberOfWords = Model.topPersonalityCategoriesAndWords[category].Count;
                                @for (int i = 0; i < numberOfWords; i++)
                                {
                                    var word = categoryWords[category][i];
                                    if (i < numberOfWords - 1)
                                    {
                                        <span> @Html.DisplayFor(modelItem => word), </span>
                                    }
                                    else
                                    {
                                        <span> @Html.DisplayFor(modelItem => word) </span>
                                    }

                                }
                                @:
                            @:</div>
                            @:<div class="col-lg-2 col-sm-1"></div>


                        @:</div>
                        index += 1;
                    @:</div>
                }
            }
            else
            {
                <p> Sorry, there were no results. </p>
            }
        }
    }