﻿@model RedditPersonalityAnalyzer.Models.User

<div class="personality">
    <div id="usernameheader">
        <h1>@Html.DisplayFor(model => model.username)</h1>
    </div>
    <partial name="_PersonalityTraitsPartial" />
</div>
