﻿
@model RedditPersonalityAnalyzer.Models.User

<div class="personality">
    <div id="usernameheader">
        <h1>Text Sample Results</h1>
    </div>
   <partial name="_PersonalityTraitsPartial" />
</div>
