﻿
<div id="aboutmain">
    <h1> About</h1>

    <h4> What is the personality predictor microservice and how does the predictor work? </h4>
    <p>
        The predictor in this application uses a personality prediction microservice that I developed. A microservice is an independent service, and what this service does is send back analysis of the text sent to it. For this application, Reddit comments are the text being sent.
        The microservice works based on a study of personality and word choice found <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2885844/">here</a>. The authors found that many words were correlated with certain personality traits. The predictor counts the usage of the top
        words in this study to hypothesize user personality traits. The predictor accounts for both the number of words per category and the frequency of each word.
    </p>
    <br />
    <h4> What are the possible personality results?</h4>
    The traits come in pairs and are as follows: 
        <ul id="personalityTraits">
            <li>neurotic/emotionally stable</li>
            <li>extroverted/introverted</li>
            <li>open-minded/close-minded</li>
            <li>agreeable/disagreeable</li>
            <li>conscientious/unconscientious</li>
            <li>anxious/relaxed</li>
            <li>easily-angered/calm</li>
            <li>depressed/not depressed</li>
            <li>self-conscious/secure</li>
            <li>lacks restraint/self-controlled</li>
            <li>vulnerable/resilient</li>
            <li>friendly/unfriendly</li>
            <li>gregarious/unsociable</li>
            <li>assertive</li>
            <li>active/indoorsy</li>
            <li>thrill-seeker/not a thrill-seeker</li>
            <li>cheerful/grave</li>
            <li>imaginative/unimaginative</li>
            <li>artistic/unartistic</li>
            <li>emotional</li>
            <li>adventurous/unadventurous</li>
            <li>intelligent</li>
            <li>liberal/not liberal</li>
            <li>trusting/untrusting</li>
            <li>has traditional morals/has non-traditional morals</li>
            <li>altruistic/uncharitable</li>
            <li>cooperative/uncooperative</li>
            <li> modest/proud</li>
            <li>sympathetic/unsympathetic</li>
            <li>confident/insecure</li>
            <li>organized/messy</li>
            <li>dutiful/undutiful</li>
            <li>self-disciplined/undisciplined</li>
            <li>cautious/daring</li>
        </ul>
    <br />
    <h4> What is Reddit? </h4>
    <p>
        Reddit is a social media website that can be found <a href="https://www.reddit.com/">here</a>. It is a web content aggregator used for discussions and sharing of media. Because
        every user's comment history on Reddit is aggregated and public, it is a good candidate for the application of the predictor microservice.
    </p>
    <h4> Who is Spez? </h4>
    <p>
        Spez is the username of the CEO of Reddit, Steve Huffman.
    </p>
    <br />

</div>
