﻿
<div id="main">
    <div id="feedbackinnermain">
        <h1>Feedback</h1>
        <p>
            The form below will help to improve the predictor. If you wish to fill out the form (not required), you may provide your username (or someone you know well) and disclose how accurate you feel the prediction was.
            The timestamp of your submission will be saved.
        </p>
        <form id="feedbackform" action="/Home/SubmitFeedback" method="POST">
            <div class="form-group">
                <label for="usernamefeedback">Username (Required)</label>
                <input type="text" name="username" class="form-control" />
            </div> 
            <div class="form-group">
                <label for="exampleFormControlSelect1">Please select how accurate you feel the prediction was.</label>
                <select class="form-control" name="accuracy">
                    <option>Very Accurate</option>
                    <option>Mostly Accurate</option>
                    <option>Somewhat Accurate</option>
                    <option>Mostly Inaccurate</option>
                    <option>Very Inaccurate</option>
                </select>
            </div>
            <div class="form-group">
                <label for="userinput">Please describe what predictions you felt were accurate/inaccurate. (Required, 8000 character maximum)</label>
                <textarea class="form-control" rows="3" name="usercomment"></textarea>
            </div>
            <input type="submit" />
        </form>
    </div>
</div>
