﻿@{
    ViewData["Title"] = "Personality Predictor";
}

<div id="main">
    <div id="innermain">
        <h1>
            Social Media Personality Predictor for Reddit
        </h1>
        <br>
        <p>
            Reddit is a social media website where comments are aggregated and public. Enter a username and the predictor will respond with possible personality traits based on the user's word choice in his/her comments.
            Click <a href="/Home/About">here</a> to learn more about this application, the microservice associated with it and Reddit.
        </p>
        <div class="container">
            <form action="/Personality" method="GET" id="personalityform">
                <p>

                    <div class="form-group form-inline"> 
                        <div class="col-sm-4"></div>
                        <label for="username">u/</label>
                        <input type="text" name="username" class="form-control col-sm-4" placeholder="spez"/>
                    </div>
                    <input type="submit" />
                </p>
            </form>
        </div>
    </div>
</div>