﻿
<div id="microservicemain">
    <h1> Personality Microservice </h1>
    <br />
    <div id="microserviceinput">
        <p>
            As explained on the <b>About</b> page, the personality predictor for Reddit is driven by the personality predictor microservice.
            The microservice will take any text provided to it and return the most likely personality traits associated with that text.
        </p>
        <form method="POST" action="/Personality/TextSamplePersonality" id="textsampleform">
            <div class="form-group">
                <label for="userinput">Please paste your text sample below... </label>
                <textarea class="form-control" rows="7" name="userinput"></textarea>
            </div>
            <input type="submit" />
        </form>
    </div>

</div>