﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

/*General CSS*/
body {
    padding-top: 75px;
    padding-bottom: 20px;
    background-color: white;
    background: url("../images/bg.png");
    background-size: 167px 250px;
    background-position: 90% 95%;
    background-repeat: no-repeat;
    color: #373739;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

b {
    color: #D82B32;
}

h1 {
    text-align: center;
}

h4 {
    color: #0079D3;
}


#title {
    font-size: 15pt;
    color: #373739;
    font-family: "Segoe UI";
}

textarea {
    width: 100%;
    height: 30vh;
}

.error {
    color: #D82B32;
    font-style: italic;
}


#main {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    padding-right: 75px;
}

/*Due to navbar*/
@media only screen and (max-width: 390px) {
    #main {
        padding-top: 50px;
    }
}


#innermain {
    width: 50%;
    text-align: center;
}


input[type=submit] {
    background-color: #D1EBF6;
}


#username-error {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

/*Navbar*/

.navbar {
    font-family: Rubik;
    background-color: #D1EBF6;
}

.nav-item {
    padding-left: 15px;
}


.navbar-light .navbar-nav .nav-link {
    color: #0079D3;
}

/*Nav links only*/
.nav-link:hover {
    color: white;
}

/*Generic text links*/
a:hover {
    color: #E92F4E;
    text-decoration: none;
}


/*About page*/
#aboutmain {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 150px;
}

@media only screen and (min-width: 1000px) {
    #personalityTraits {
        list-style-type: disc;
        -webkit-columns: 3;
        -moz-columns: 3;
        columns: 3;
        list-style-position: inside;
    }
}


@media only screen and (min-width: 870px) and (max-width: 1000px) {
    #personalityTraits {
        list-style-type: disc;
        -webkit-columns: 2;
        -moz-columns: 2;
        columns: 2;
        list-style-position: inside;
    }
}

/*Microservice page*/
#microservicemain {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 150px;
}

#microserviceinput {
    display: inline-block;
    text-align: center;
    width: 60vw;
}


/*Feedback page*/
#feedbackinnermain {
    width: 50%;
    text-align: left;
}


/*Personality results*/
.personality {
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 150px;
}

.header {
    text-align: center;
    padding-top: 20px;
}

@media only screen and (max-width: 600px) {
    #topWords {
        text-align: center;
    }

    .col-xs-12 {
        text-align: center;
    }
}

.badge-success {
    background-color: #E92F4E;
}
